server:
  servlet:
    context-path: /wakivote/api

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/wakivote
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    tech.leondev: ${LOG_LEVEL:DEBUG}

springdoc:
  swagger-ui:
    path: /public/swagger